<div class="col-md-12">
  <div>
    <h3 class="text-center">Đăng nhập thành viên</h3>
    <form name="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" formControlName="username" required />
        <div
          *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')"
          class="alert alert-danger alert-dismissible fade show" role="alert">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" required minlength="6" />
        <div *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')"
          class="alert alert-danger alert-dismissible fade show" role="alert">
          Password is required
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid">
          Login
        </button>
      </div>
    </form>
  </div>
</div>